@using System.Diagnostics
<div class="letters-round-evaluator">

    <div class="input-container">
        <input id=@_DictionaryInputId class="dictionary-input" type="text" placeholder="Dictionary lookup" @bind=_DictionaryInputValue @onkeyup=DictionaryInput_OnKeyUp @oninput=DictionaryInput_OnInput />
    </div>


    @if (_DefinitionsLookups.Any())
    {
        <div class="definitions-container">
            @foreach (var lookup in _DefinitionsLookups)
            {
                <div class="definition-container">

                    <div class="header-container">
                        @lookup.Dictionary
                    </div>

                    <div class="content-container">
                        <div class="word-container">
                            <span class="word">@lookup.Word</span>
                            <span class="phonetic">@lookup.Phonetic</span>
                        </div>

                        @foreach (var definition in lookup.Definitions)
                        {
                            <div class="meaning">
                                <div class="part-of-speech">@definition.PartOfSpeech</div>

                                @foreach (var definitionText in definition.Definitions)
                                {
                                    <div class="definition">@definitionText</div>
                                }
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
    }
</div>

@if (Debugger.IsAttached && false)
{
    <div>
        @foreach (var letter in _AvailableLetters)
        {
            <span>@letter | </span>
        }
    </div>
}
